# Local development values for ecommerce-catalog-service
image:
  repository: sokol111/ecommerce-catalog-service
  tag: "latest"

ingress:
  enabled: true
  host: ecommerce-catalog-service.127.0.0.1.nip.io

env:
  - name: APP_ENV
    value: "local"
  - name: APP_SERVICE_NAME
    valueFrom:
      fieldRef:
        fieldPath: metadata.labels['app.kubernetes.io/name']
  - name: APP_SERVICE_VERSION
    valueFrom:
      fieldRef:
        fieldPath: metadata.labels['app.kubernetes.io/version']
