# Local development values for ecommerce-admin-ui
image:
  repository: sokol111/ecommerce-admin-ui
  tag: "latest"

ingress:
  enabled: true
  host: admin.127.0.0.1.nip.io

startupProbe:
  httpGet:
    path: /api/health
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 12

livenessProbe:
  httpGet:
    path: /api/health
    port: http
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 2

env:
  - name: CATALOG_API_URL
    value: "http://ecommerce-catalog-service:8080"
  - name: IMAGE_API_URL
    value: "http://ecommerce-image-service:8080"
  - name: AUTH_API_URL
    value: "http://ecommerce-auth-service:8080"
