ecommerce-product-service:
  image:
    repository: sokol111/ecommerce-product-service
    tag: "latest"
  ingress:
    enabled: true
    host: ecommerce-product-service.127.0.0.1.nip.io
  env:
    - name: APP_ENV
      value: "local"
    - name: APP_SERVICE_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['app.kubernetes.io/name']
    - name: APP_SERVICE_VERSION
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['app.kubernetes.io/version']

ecommerce-category-service:
  image:
    repository: sokol111/ecommerce-category-service
    tag: "latest"
  ingress:
    enabled: true
    host: ecommerce-category-service.127.0.0.1.nip.io
  env:
    - name: APP_ENV
      value: "local"
    - name: APP_SERVICE_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['app.kubernetes.io/name']
    - name: APP_SERVICE_VERSION
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['app.kubernetes.io/version']

ecommerce-product-query-service:
  image:
    repository: sokol111/ecommerce-product-query-service
    tag: "latest"
  ingress:
    enabled: true
    host: ecommerce-product-query-service.127.0.0.1.nip.io
  env:
    - name: APP_ENV
      value: "local"
    - name: APP_SERVICE_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['app.kubernetes.io/name']
    - name: APP_SERVICE_VERSION
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['app.kubernetes.io/version']

ecommerce-category-query-service:
  image:
    repository: sokol111/ecommerce-category-query-service
    tag: "latest"
  ingress:
    enabled: true
    host: ecommerce-category-query-service.127.0.0.1.nip.io
  env:
    - name: APP_ENV
      value: "local"
    - name: APP_SERVICE_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['app.kubernetes.io/name']
    - name: APP_SERVICE_VERSION
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['app.kubernetes.io/version']

ecommerce-image-service:
  image:
    repository: sokol111/ecommerce-image-service
    tag: "latest"
  ingress:
    enabled: true
    host: ecommerce-image-service.127.0.0.1.nip.io
  env:
    - name: APP_ENV
      value: "local"
    - name: APP_SERVICE_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['app.kubernetes.io/name']
    - name: APP_SERVICE_VERSION
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['app.kubernetes.io/version']

ecommerce-admin-ui:
  image:
    repository: sokol111/ecommerce-admin-ui
    tag: "latest"
  ingress:
    enabled: true
    host: admin.127.0.0.1.nip.io
  env:
    - name: CATEGORY_API_URL
      value: "http://ecommerce-ecommerce-category-service.dev.svc.cluster.local:8080"
    - name: PRODUCT_API_URL
      value: "http://ecommerce-ecommerce-product-service.dev.svc.cluster.local:8080"
    - name: IMAGE_API_URL
      value: "http://ecommerce-ecommerce-image-service.dev.svc.cluster.local:8080"
