# Local development values for ecommerce-ui
image:
  repository: sokol111/ecommerce-ui
  tag: "latest"

ingress:
  enabled: true
  host: shop.127.0.0.1.nip.io

startupProbe:
  httpGet:
    path: /api/health
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 12

livenessProbe:
  httpGet:
    path: /api/health
    port: http
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 2

env:
  - name: CATEGORY_QUERY_API_URL
    value: "http://ecommerce-category-query-service:8080"
  - name: PRODUCT_QUERY_API_URL
    value: "http://ecommerce-product-query-service:8080"
