name: Build JS API

on:
  workflow_call:
    inputs:
      artifact_dir:
        required: false
        type: string
        default: 'gen/typescript'
      artifact:
        required: true
        type: string
      openapi_file:
        required: false
        type: string
        default: 'openapi/openapi.yml'
      version:
        required: true
        type: string
      npm_repo_name:
        required: true
        type: string
      project_name:
        required: true
        type: string

permissions:
  contents: write

jobs:
  build-js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Generate TypeScript client
        run: |
          make openapi-ts-generate \
            OPENAPI_FILE=${{ inputs.openapi_file }} \
            TS_API_DIR=${{ inputs.artifact_dir }} \
            TS_PACKAGE_NAME=${{ inputs.npm_repo_name }} \
            TS_VERSION=${{ inputs.version }} \
            PROJECT_NAME=${{ inputs.project_name }}

      - name: Upload built JS API
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifact }}
          path: ${{ inputs.artifact_dir }}
