name: OpenAPI Pipeline

on:
  workflow_call:
    inputs:
      openapi_file:
        required: false
        type: string
        default: openapi/openapi.yml
      version:
        required: true
        type: string
      npm_repo_name:
        required: true
        type: string
      project_name:
        required: true
        type: string
    outputs:
      go_artifact:
        description: "Name of the Go API artifact"
        value: ${{ jobs.set-outputs.outputs.go_artifact }}
      js_artifact:
        description: "Name of the JS API artifact"
        value: ${{ jobs.set-outputs.outputs.js_artifact }}

permissions:
  contents: write

jobs:
  build-go-api:
    uses: Sokol111/ecommerce-infrastructure/.github/workflows/build-go-api.yml@master
    with:
      openapi_file: ${{ inputs.openapi_file }}
      artifact: go-api
      artifact_dir: api
      package: api

  build-js-api:
    uses: Sokol111/ecommerce-infrastructure/.github/workflows/build-js-api.yml@master
    with:
      artifact_dir: js-client
      artifact: js-api
      openapi_file: ${{ inputs.openapi_file }}
      version: ${{ inputs.version }}
      npm_repo_name: ${{ inputs.npm_repo_name }}
      project_name: ${{ inputs.project_name }}

  set-outputs:
    runs-on: ubuntu-latest
    needs: [build-go-api, build-js-api]
    outputs:
      go_artifact: ${{ steps.set.outputs.go_artifact }}
      js_artifact: ${{ steps.set.outputs.js_artifact }}
    steps:
      - id: set
        run: |
          echo "go_artifact=go-api" >> $GITHUB_OUTPUT
          echo "js_artifact=js-api" >> $GITHUB_OUTPUT
