go 1.26.2

use (
	./ecommerce-catalog-service
	./ecommerce-catalog-service-api
	./ecommerce-category-query-service
	./ecommerce-category-query-service-api
	./ecommerce-commons
	./ecommerce-image-service
	./ecommerce-image-service-api
	./ecommerce-infrastructure/cmd/actions-webhook
	./ecommerce-infrastructure/cmd/seeder
	./ecommerce-infrastructure/cmd/zitadel-seed
	./ecommerce-product-query-service
	./ecommerce-product-query-service-api
	./ecommerce-tenant-service
	./ecommerce-tenant-service-api
)
